<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>MenuProduto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="" offset="0" *ngFor="let produto of produtos" [size]="6">

        <produto-component class="produtoLista" [produto]="produto" (changeProduto)="changeProduto($event)" ></produto-component>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="baner-container" [size]="12">
        <ion-slides pager="true" [options]="slideOpts">
          <ion-slide *ngFor="let baner of baners">

            <baner-component [baner]="baner" (changeBaner)="changeBaner($event)"></baner-component>

          </ion-slide>
        </ion-slides>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="" offset="0.2" *ngFor="let produto of produtos" [size]="5.6">

        <produto-component class="produtoLista" [produto]="produto" (changeProduto)="changeProduto($event)"></produto-component>

      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
