<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Produto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="produtoPage">

  <ion-item-group class="produtoPageSection">

    <produto-detalhe-component [produto]="produto" (changeProduto)="changeProdutoDetalhe($event)"></produto-detalhe-component>

    <ion-item class="produtoPageButton ion-no-padding" (click)="comprarProduto(produtoComponent)">
      <ion-button size="large" expand="block" class="">Comprar</ion-button>
    </ion-item>

  </ion-item-group>

  <ion-item-group class="">

    <ion-label>
      <span>Produtos comprados</span>
      <ion-button slot="end" fill="clear" href="">Ver todos</ion-button>
    </ion-label>

    <ion-slides pager="true">
      <ion-slide class="produtoPageSlider" *ngFor="let produto of produtos">
        <produto-component [produto]="produto" (changeProduto)="changeProdutoComprado($event)"></produto-component>
      </ion-slide>
    </ion-slides>
  </ion-item-group>

</ion-content>
