<ion-header class="ion-no-border">
  <ion-toolbar color="dark" size="small">
    <ion-title>MenuPetz</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <!-- <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
      </ion-buttons> -->

  </ion-toolbar>
</ion-header>

<ion-content>

<!-- Notes in a List -->
<ion-list mode="md" lines="full">
  <ion-item detail="true">
    <ion-label>Note (End)</ion-label>
    <ion-note slot="end">On</ion-note>
  </ion-item>


</ion-list>

</ion-content>
