
component-produto {
  width: auto;
  height: auto;
  margin: 0 auto;
  padding: 0;
}

:host(.produtoCard > .produtoComponente) {
  width: 260px;
  height: 489px;
}

:host(.produtoLista > .produtoComponente),
.produtoCard > .produtoComponente {
  width: auto;
  height: auto;
  min-width: 130px;

  .produtoDesconto,
  ion-button {
    width: 30%;
    height: 36px;
    z-index: 100;
  }

  .produtoDesconto {
    margin-top: 8px;
    width: 100%;

    .produtoFavorito {
      font-size: 24px;
      line-height: 36px;
      display: inline-block;
    }
  }

  .produtoValorDeDesconto {
    font-size: 0.75em;
  }

  .produtoImagemUrl {
    width: 100%;
    height: auto;
    padding: 1.2em;
    margin-top: -36px;
    max-height: 130px;
  }

  .produtoImagemUrl > img {
    width: 50%;
  }
  .produtoDescricao {
    font-size: 0.8em;

    .produtoNome {
      height: 48px;
    }

    .produtoMarca {
      font-size: 0.9em;
      font-weight: 400;
      font-family: 'Open Sans ligth';
      color: #848484;
    }
  }

  .produtoPreco {
    font-size: 1em;
  }

  .produtoSaudacaoDeDesconto {
    display: none;
  }


}

.produtoComponente {

  width: auto;
  height: auto;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  -webkit-border-radius: 7px !important;
  -moz-border-radius: 7px !important;
  border-radius: 7px !important;
  font-size: 1em;

  .produtoDesconto,
  ion-button {
    height: 42px;
    padding: 0;
    margin: 0;

    .produtoValorDeDesconto {
      font-family: 'Open Sans Bold';
      font-weight: bold;
      color: white;
      width: 42%;
      min-width: 70px;
      background: #13BC4A;
      align-items: left;
      border-radius: 0px 8px 8px 0px;
      -webkit-border-radius: 0px 8px 8px 0px;
      -moz-border-radius: 0px 8px 8px 0px;
      float: left;
      text-align: left;
      display: inline-block;
    }

    .produtoFavorito {
      display: none;
      float: right;
      align-items: center;
      text-align: right;
      padding: 0 6px;
      line-height: 48px;
      box-sizing: content-box;
      font-size: 28px;
      max-height: 42px;
      color:#3AACD1;
    }
  }
  .produtoDesconto {
    margin-top: 16px;
    width: 100%;
  }

  .produtoDesconto > * {
    vertical-align: top;
  }


  .produtoImagemUrl {
    width: 100%;
    height: 11em;
    padding: 1.2em;
    overflow: hidden;
  }

  .produtoImagemUrl > img {
    height: inherit;
    object-fit: contain;
  }

  .produtoDescricao {
    width: 100%;
    height: 50px;

    .produtoNome {
      font-size: 'Open Sans Bold';
      font-weight: 600;
      color: #454344;
    }

    .produtoMarca {
      font-size: 'Open Sans Bold';
      font-weight: 600;
      color: #454344;
      -webkit-margin-before: -10px;
    }
  }
  .produtoPreco {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Open Sans Bold';
    color: #5555D9;

    .produtoSaudacaoDeDesconto {
      font-size: 14px;
      font-weight: 400;
      font-family: 'Open Sans ligth';
      color: #848484;
    }
  }
}





