.carrinhoPage {
  font-family: 'Open Sans Bold';
  * {
    --border-style: none;
    font-family: 'Open Sans Bold';
  }

  .total {
    color: #5555d9;
  }

  * ion-label {
    display: flex;
    width: auto;
    max-width: auto;
    min-width: 90px;
  }

  .boxCupom {
    width: 90%;
    margin: 16px auto 8px auto;
    border-radius: 7px;
    padding: 0 0 16px 0;
    box-shadow: 0px 1px 8px rgba(0,0,0,0.2);

    ion-input {
      border-bottom: solid 1px rgba(0,0,0,0.1);
    }

    ion-icon {
      font-size: 24px;
      margin-right: 8px;
    }
  }

  .boxComprar {
    margin-top: 16px;

    > * {
      width: 100%;
      --background: #3aacd1;
    }
  }
}

ion-list{
  display: flex;
  flex-direction: column;

  ion-item {
    border: none;
  }
}

.boxQuantidade {
  display: flex;
  flex-direction: column;
}

.parcelas {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Open Sans Bold';
  color: #848484;
}

.left {
  float: left;
}

.preco {
  font-size: 24px;
  font-weight: bold;
  font-family: 'Open Sans Bold';
  color: #5555D9;
}

div.imagemProduto {
  width: 80px;
  height: 150px;
}

div.detalhesProduto {

}

.boxEndereco {
  margin-top: 8px;
  margin-bottom: 0;
  margin-left: 15px;
  padding: 0;
  margin-right: 14px;
  border-bottom: 1px solid #dedede;
  padding-bottom: 12px;

  p:first-child {
    color: #5b5050;
    font-size: 14px;
  }

  p {
    padding: 0;
    margin: 0;
  }
}

.descEndereco {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Open Sans Light';
  color: #848484 !important;
  text-transform: uppercase;
}

.frete {
  display: inline-block;
  font-size: 10px;
  font-weight: 400;
  color: #848484;
}

.prazoFrete {
  margin-right: 198px !important;
}

.boxTotal {
  p {
    display: inline-block;
  }
}
