<app-nav-bar title="categoria"></app-nav-bar>
<ion-content class="carrinhoPage">
  <ion-list>

    <produto-resumo-component [produto]="produto" [carrinho]="carrinho" (changeProduto)="changeProduto($event)"></produto-resumo-component>

  </ion-list>

  <div class="boxEndereco">
    <p class="titEndereco">Endereço
    <p>
    <p class="descEndereco">Rua José da Silva, 53 | 22123-615</p>
    <p class="frete prazoFrete">Receber até 26/08</p>
    <p class="frete">R$ {{produto.valorDoFrete}}</p>
  </div>

  <ion-item>
    <ion-label slot="start" class="">Total</ion-label>
    <ion-label slot="end" class="" class="total">R$ {{carrinho.total}}</ion-label>
  </ion-item>

  <ion-item class="boxCupom">
    <ion-label  position="stacked">
      <ion-icon src="../../../assets/img/rauau/icons/rau-au-start.svg"></ion-icon>
      <span>Cupom</span>
    </ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item class="boxComprar">
    <ion-button slot="start"  size="large" (click)="checkout(carrinho)">Continuar</ion-button>
  </ion-item>


</ion-content>
