<ion-toolbar color="dark" class="menuComponent">

  <ion-icon slot="start" src="../../../assets/img/rauau/icons/user.svg" (click)="accessUser(user)"></ion-icon>
  <ion-title>
    <ion-icon class="iconTitle" src="../../../assets/img/rauau/icons/rau-au-pet-shop.svg"></ion-icon>
  </ion-title>
  <ion-icon slot="end" src="../../../assets/img/rauau/icons/rau-au-casa.svg"
    (click)="accessCarrinhoDeCompra(carrinhoDeCompra)"></ion-icon>
  <ion-icon slot="end" name="menu" (click)="accessMenu(menu)"></ion-icon>

</ion-toolbar>
